.seccion-banner1{
    display: flex;
    justify-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    align-items: center;
    padding: 0 2.5rem;
}

.img-banner{
    width: 100%;
    max-width: 19rem;
    height: 25rem;
    background-color:#98A8B8;
    border-radius: 12px;
    margin-top: 25%;
}

.seccion-banner1 h1{
    font-size: 1.4rem;
    margin-top: 3rem;
}

.seccion-banner1 p{
    font-size: 1.2rem;
    color: #646982;
    padding: 1.5rem;
}

.caja-puntos{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    padding: 0.8rem 0 ;
   
}

.caja-puntos a{
   display: block;
    height: 0.6rem;
    width: 0.6rem;
    background-color: #FFE1CE;
    border-radius: 100%;
 
}

.caja-puntos .punto4{
    background-color: #FF7266;
}



.btn-text{
    display: block;
    width: 100%;
    padding: 1.3rem 0;
    background-color: #FF7622;
    border-radius: 12px;
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

.btn-skip{
    
    color: #646982;
    font-size: 1rem;
    padding: 1.3rem 0;
    text-decoration: none;
}